{% extends "landing/base.html" %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Media{% endblock %}</title>
</head>
<body>
{%  block content %}
    <div class="container">
        <div class="row justify-centre mt-5">
            <div class="col-md-10 col-sm-12 text-center">
                <h1 class="display-2">Connect With your friends</h1>
                <p class="mt-3">Follow people who interest you, stay upto date with news and join conversations</p>
                <div class="flex justify-centre mt-5">
                    <a href="{% url 'login' %}" class="mr-2">Login</a>
                     <a href="{% url 'register' %}" class="mr-2">Register</a>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
    
</body>
</html>